@charset "utf-8";

.simple_dialog {
    position: fixed;
    border: 1px solid var(--dialog-border-color);
    background: var(--dialog-bg-color);
    bottom: 5px;
    right: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    width: 500px;
    padding: 5px;
    grid-row-gap: 10px;
    border-radius: 5px;
}

.simple_dialog > p {
    font-size: 18px;
}

.dialog_link_dismiss {
    background: var(--link-color);
    width: 50px;
    display: grid;
    justify-self: end;
}

.dialog_link_dismiss:hover {
    background: var(--link-color-hover);
    color: var(--subcolor1);
}

.dialog_button a, a.dialog_link_dismiss {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--main-color);
}

.confirm_dialog {
    background-color: var(--dialog-bg-color);
    position: absolute;
    z-index: 99; 
    display: grid;
    padding: 5px 5px;
    border: 2px solid var(--dialog-border-color);
    border-radius: 5px;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr max-content;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: 
    "icon text"
    "button button";
    left: 5px;
    width: 500px;
}

.input_dialog {
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "text text"
    "input input"
    "button button";
}

.confirm_dialog > span {
    grid-area: icon;
}

.confirm_dialog > p {
    grid-area: text;
    text-align: left;
}

input.dialog_input {
    grid-area: input;
    height: 25px;
}

.dialog_button {
    border-top: 1px solid var(--dialog-border-color);
    padding-top: 5px;
    grid-area: button;
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    justify-content: end;
    grid-column-gap: 10px;
    grid-area: button;
}

.dialog_button a.confirm_no, .dialog_button a.input_no {
    background: var(--error-color);
    color: var(--subcolor1);
}

.dialog_button a.confirm_yes, .dialog_button a.input_yes {
    background: var(--success-color);
    color: var(--subcolor1);
}

.dialog_button a.confirm_no:hover, .dialog_button a.input_no:hover {
    background: var(--error-color-hover);
}

.dialog_button a.confirm_yes:hover, .dialog_button a.input_yes:hover {
    background: var(--success-color-hover);
}

.dialog_background {
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
    background: rgb(0, 0, 0);
    background: rgba(101, 101, 101, 0.6);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .95fr;
    justify-content: center;
    align-content: center;
}

.dialog {
    border: 1px solid var(--nav-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr;
    overflow: auto;
}

.dialog_header {
    background: var(--nav-color);
    position: relative;
}

.dialog_close_btn {
    background: url(../img/close.svg) center / 25px 25px no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
}

.dialog_body {
    background: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    overflow: auto;
    grid-row-gap: 10px;
}

@media only screen and (max-width: 510px) {
    .confirm_dialog {
        left: 0;
        width: 320px;
        grid-template-areas: 
        "text text"
        "button button";
        border: none;
    }

    .input_dialog {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "text"
        "input"
        "button";
    }

    .confirm_dialog .dialog_icon {
        display: none;

    }

    .simple_dialog {
        bottom: 0;
        right: 0;
        width: 320px;
    }
}